extends layout
block content
  form(action='/game' role='form' class='well well-lg')
    div(class='form-group')
      label(for='name') 名前
      div(class='row')
        div(class='col-xs-4')
          input(type=text, name='name', class='form-control input-lg ' placeholder='名前入力汁')
    button(type=submit, class='btn btn-primary') ゲームスタート

  script.
    $('form').on('submit', function(e) {
      $(this).find("button").attr("disabled", true);

      if($(this).find("input").val().length == 0) {
        alert("ゲームオーバー");
        return false;
      }
    });
