doctype 5
html
  head
    meta(name="viewport",content="width=device-width, user-scalable=no")
    title= title
    link(rel='stylesheet', href='/stylesheets/vendor/reset.css')
    link(rel='stylesheet', href='/stylesheets/vendor/toastr.css')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/vendor/underscore.js")
    script(src="/javascripts/vendor/jquery.js")
    script(src="/javascripts/vendor/jquery.cookie.js")
    script(src="/javascripts/vendor/bootstrap.js")
    script(src="/javascripts/vendor/toastr.js")
    script(src="/javascripts/enchant.js")
    script(src="/javascripts/game/field.js")
    script(src="/javascripts/game/unit.js")
    script(src="/javascripts/game/boss.js")
  body
    block content