body { font: 14px "Lucida Grande"; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }
a { color: #00B7FF; }

#field-wrapper { position: relative; }
#background { position:absolute; top:0; left:0; margin-top:20px; z-index:0; background-color: #71C671; }
#field      { position:absolute; top:0; left:0; margin-top:20px; z-index:1; }

.hoge {
    border: 4px dotted #fff;
    background-color: #0000ff;
}

.attack-btn {
}

.my-click {
    position: fixed;
    height: 60px;
    width: 60px;
    border: 2px solid blue;
    border-radius: 30px;
    -webkit-transform: translateZ(0);
    -webkit-animation: ripple 0.8s;
    animation: ripple 0.8s;
}
@-webkit-keyframes ripple {
  from { margin: 30px 30px; height: 0px; width: 0px; opacity: 0.2; }
  to   { margin:  0px  0px; height:60px; width:60px; opacity: 0.0; }
}
@keyframes ripple {
  from { margin: 30px 30px; height: 0px; width: 0px; opacity: 0.2; }
  to   { margin:  0px  0px; height:60px; width:60px; opacity: 0.0; }
}